* {
    box-sizing: border-box;
  }
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    

  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .nav
  {
    list-style-type: none;
    background: #26e3e52b;
    text-align: left;
    color: #0639ff;
    margin-bottom: 50px;

  }
  .nav li{
    display: inline-block;
  }
  .nav li a{
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 9px;
  }
  
  .nav li a:hover{
    background: rgb(93, 131, 175);
    color: white;
  }
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    float:bottom;
    bottom: 0;
    position: relative;
    width: 100%;
}
h1 {
    font-size: 15px;
}
.img1{
    height: 200px;
    width: 200px;
    margin: -75px;
    border: cornsilk;
    padding: 65px 65px;
    border-radius: 100px;
    float: right;
}
.align1{
  text-align:justify;
}
@media only screen and (max-width:320px){
  footer,header{
    width:100%;
  }
}
@media screen and (max-width: 320px) {
  .nav li a {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width:320px){
  .align1{
    width:100%;
  }
}
@media only screen and (max-width:320px){
  .img1{
    width:100%;
  }
}

